section {
  scroll-margin-top: 80px;
  /* ajustá este valor al alto de tu navbar */
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


:root {
  --background-color: #f8f9fa;
  --text-title-color: #333;
  --text-color: #1a1a1a;
  --icon-menu-color: #ffffff;
  --menu-color: #333333;

  --text--selected--color: #a9213c;
  --background-selected-color: #333;
  --background-hover: #a9213c;
}

/* Barra de navegación */

.navbar {
  background-color: #333;
  padding: 15px 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  cursor: default;
  position: fixed;
}

.navbar img {
  cursor: pointer;
}

.navbar .nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

@media (min-width: 768px) {

  /* Hover normal solo en pantallas grandes */
  .navbar .nav-link:hover {
    color: #a9213c;
    transform: scale(1.1);
  }

  /* Evita que queden “pegados” después del clic */
  .navbar .nav-link:focus,
  .navbar .nav-link:active {
    color: #fff;
    transform: none;
    outline: none;
  }
}

/* Hero principal */
#hero {
  background-image: url('./images/imagen-fondo-hero.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

#hero .btn {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 12px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#hero .btn:hover {
  background-color: #a9213c;
  transform: scale(1.05);
  transition: all 0.3s ease;

}

/* Formulario de contacto */
#contacto {
  background-color: #f8f9fa;
  padding: 50px 20px;
}

#contacto h2 {
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}

#contacto p {
  font-size: large;
}

#contacto img {
  max-width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contacto button {
  background-color: #a9213c;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.5rem;
}

#contacto button:hover {
  background-color: #921c2f;
}

/* Sobre nosotros */
#sobre-nosotros {
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 40px;
}

#sobre-nosotros h2 {
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#sobre-nosotros p {
  margin-bottom: 20px;
  color: #000000;
  font-size: 1.2rem;
}

#sobre-nosotros img {
  max-width: 80%;
  height: auto;
}

/* Catalogo de servicios ofrecidos */
.principal {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.principal-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.principal-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.principal-container p {
  font-size: 1.1rem;
  margin-bottom: 40px;
}

/* --- GRID DE IMÁGENES 3x3 --- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

/* --- TARJETAS --- */
.tarjet {
  position: relative;
  text-align: center;
}


.tarjet img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.tarjet img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #333, 0 0 15px #333;
}

/* --- TÍTULOS DE LAS TARJETAS --- */
.tarjet h3 {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

/* --- RESPONSIVE --- */
@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* Catalogo con card de modelos */
#modelos img {
  width: 57%;
  width: 60%;
  height: auto;
  object-fit: cover;
}

#modelos {
  background-color: #f8f9fa;
}

#modelos a {
  color: #a9213c;
}

/* Footer */
#footer {
  background-color: #333;
  color: #f8f9fa;
  text-align: center;
  padding: 30px 15px;

}

#footer p {

  font-size: 1.2rem;

}

#footer a {
  color: #f8f9fa;
  text-decoration: none;
  font-weight: 500;
}


/* Botón de retorno */
#boton-retorno {
  position: fixed;
  bottom: 20px;
  right: 90px;
  z-index: 999;
}

.btn-retorno {
  background-color: #a9213c;
  color: #fff;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-retorno:hover {
  background-color: #921c2f;
  color: #fff;
  transform: translateY(-3px);
}

/* Opcional: ocultarlo en móviles muy pequeños */
@media (max-width: 480px) {
  .btn-retorno {
    padding: 10px 12px;
    font-size: 1rem;
  }
}

/*Botón de whatsapp flotante*/
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  z-index: 999;
  animation: bounce 1.5s infinite;
  text-decoration: none;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.whatsapp-btn:hover {
  background-color: #1ebe5a;
}